<div class='col-md-12 col-sm-8 col-xs-12 task_body' id='task-<%= t.id %>'>
  <span class='task_headings'>Title: </span><b><%= t.title%></b><br>
  <span class='task_headings'>Due date: </span><b><%= t.due_date%></b><br>
  <span class='task_headings'>Description: </span><b><%= t.description%></b>
</div>